body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color:rgba(128, 128, 128, 0.637) ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden; /* Ensure content doesn't overflow */
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
    margin-top: 30px;
  }
  
  p {
    line-height: 1.6;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .animation-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .box {
    width: 300px; 
    padding: 20px;
   
    margin: 0 20px; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    color: white; 
    transform: translateY(50px); 
    opacity: 0; 
    animation: slideIn 1s forwards, fadeIn 1s forwards;
    position: relative;
  }
  
  .mission {
    background-color: #e74c3c; 
  }
  
  .info {
    background-color: #2ecc71; 
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(50px); 
    }
    100% {
      transform: translateY(0); 
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  }
  
  /* Popup text */
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
  }
  
  .popuptext {
    cursor: pointer;
  }
  
  /* Animation for popup text */
  .popup.active {
    display: block;
    animation: slideDown 0.5s ease forwards;
  }
  
  @keyframes slideDown {
    0% {
      transform: translate(-50%, -70%);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  button{
   background-color: gray;
  }
  .back{
    background-image: url('Backgrounds/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  
  